<div class="page-header">
  My_Likes
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% current_user.likes.each do |like| %>
      <tr>
        <td><%= like.photo.caption %></td>
        <td><a href="/photos/<%= like.photo.id %>">
          <img src="<%= like.photo.image %>" class="img-responsive"></a></td>
        <td><%= like.photo.user_id %></td>
        <td>

        </td>

      <% end %>
    </table>
  </div>
</div>
